
<dx-box direction="row"
        width="100%"
        [height]="1000">
  <dxi-item [ratio]="2">
    <dx-box direction="row"
            width="100%"
            [height]="400">
      <dxi-item style="margin:15px;" [ratio]="4">
        <dx-box direction="row"
                width="100%"
                [height]="75">
          <dxi-item [ratio]="1">
            <h3>Day</h3>
          </dxi-item>
          <dxi-item [ratio]="1">
            <dx-select-box (onValueChanged)="dayValueChange($event)"
                           [items]="days"
                           placeholder="Choose Day"
                           [showClearButton]="true"
                           [value]="currentDay">

            </dx-select-box>

          </dxi-item>
        </dx-box>

        <dx-box direction="col"
                width="100%"
                [height]="400">
          <dxi-item [ratio]="1">

            <dx-accordion #accordion
                          [dataSource]="companies"
                          [collapsible]="true"
                          [multiple]="false"
                          [animationDuration]="300"
                          [deferRendering]="false"
                          [selectedItems]="selectedItems">
              <div *dxTemplate="let company of 'title'">
                <h1>{{company.name}}</h1>
              </div>
              <div *dxTemplate="let company of 'item'">
                <dx-data-grid [hidden]="company.ID !== 1" #flockGrid
                              (onCellPrepared)="onCellPrepared($event)"
                              id="flockGrid"
                              [showBorders]="true"
                              [dataSource]="dataSource"
                              [columns]="columns"
                              [allowColumnResizing]="true"
                              [columnAutoWidth]="true">

                  <dxo-export [enabled]="true" fileName="file"></dxo-export>
                  <dxo-search-panel [visible]="true"></dxo-search-panel>
                  <dxo-filter-row [visible]="true"></dxo-filter-row>

                  <dxo-editing mode="batch"
                               [allowUpdating]="true"
                               [allowAdding]="true"
                               [allowDeleting]="true">
                  </dxo-editing>
                  <dxo-selection mode="single"></dxo-selection>
                </dx-data-grid>
                <div *ngIf="company.ID === 3">
                  <dx-data-grid #demandGrid
                                id="demandGrid"
                                [showBorders]="true"
                                [dataSource]="demandDataSource"
                                [columns]="demandColumns"
                                [allowColumnResizing]="true"
                                [columnAutoWidth]="true">

                    <dxo-export [enabled]="true" fileName="file"></dxo-export>
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>

                    <dxo-editing mode="batch"
                                 [allowUpdating]="true"
                                 [allowAdding]="true"
                                 [allowDeleting]="true">
                    </dxo-editing>
                    <dxo-selection mode="single"></dxo-selection>
                  </dx-data-grid>
                </div>
                <div *ngIf="company.ID === 4">

                  <dx-data-grid #decisionGrid
                                id="decisionGrid"
                                [showBorders]="true"
                                [dataSource]="decisionDataSource"
                                [columns]="decisionColumns"
                                [allowColumnResizing]="true"
                                [columnAutoWidth]="true">

                    <dxo-export [enabled]="true" fileName="file"></dxo-export>
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>

                    <dxo-editing mode="batch"
                                 [allowUpdating]="true"
                                 [allowAdding]="true"
                                 [allowDeleting]="true">
                    </dxo-editing>
                    <dxo-selection mode="single"></dxo-selection>
                  </dx-data-grid>

                </div>
                <div *ngIf="company.ID === 2">

                  <dx-chart id="chart" #chart>

                    <dxo-common-series-settings type="bar"></dxo-common-series-settings>
                    <dxo-size [height]="500" [width]="1200"></dxo-size>
                    <dxo-adaptive-layout [width]="300"></dxo-adaptive-layout>
                    <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip" format="decimal"></dxo-tooltip>
                  </dx-chart>
                  <dx-pivot-grid #pivotGrid
                                 id="pivotGrid"
                                 [allowSortingBySummary]="true"
                                 [allowFiltering]="true"
                                 [allowSorting]="true"
                                 [showBorders]="true"
                                 [allowExpandAll]="true"
                                 [showColumnGrandTotals]="false"
                                 [showRowGrandTotals]="true"
                                 [showRowTotals]="true"
                                 [showColumnTotals]="true"
                                 [dataSource]="pivotGridDataSource"
                                 (onContentReady)="onInitialized($event)">
                    <dxo-header-filter [allowSearch]="true"
                                       [showRelevantValues]="true"
                                       [width]="300"
                                       [height]="400"></dxo-header-filter>

                    <dxo-field-panel [visible]="true">
                    </dxo-field-panel>
                    <dxo-field-chooser [enabled]="true" [height]="400"></dxo-field-chooser>
                    <dxo-scrolling mode="virtual"></dxo-scrolling>
                    <dxo-export [enabled]="true"></dxo-export>
                  </dx-pivot-grid>


                </div>




              </div>
            </dx-accordion>
            <dxi-item style="margin-top:15px;" [ratio]="4">

              <dx-box direction="row"
                      width="100%"
                      [height]="400">
                <dxi-item [ratio]="1">
                  <h3>Suggestion</h3>
                  <dx-text-area [height]="380"
                                [maxLength]="maxLength"
                                [(value)]="solutionService.currentSolution.suggest">
                  </dx-text-area>
                </dxi-item>
                <dxi-item [ratio]="1" style="margin-left:5px">
                  <h3>Explanation</h3>
                  <dx-text-area [height]="380"
                                [maxLength]="maxLength"
                                [(value)]="solutionService.currentSolution.explain">
                  </dx-text-area>
                </dxi-item>
                <dxi-item [ratio]="1" style="margin-left:5px">
                  <h3>Suggested Plants</h3>
                  <dx-list [items]="solutionService.currentSolution.suggestedPlantsList"
                           [height]="400">
                  </dx-list>
                </dxi-item>
              </dx-box>

            </dxi-item>
          </dxi-item>
        </dx-box>

      </dxi-item>


    </dx-box>
  </dxi-item>
  <dxi-item [ratio]="1">
    <dx-box direction="col"
            style="margin-left:15px"
            width="98%"
            [height]="1000">

      <dxi-item [ratio]="2" style="margin-top:15px">
        <dx-button style="margin-left: 15px;float:right"
                   [width]="250"
                   text="Generate Context From Data"
                   (onClick)="generateContext($event)">

        </dx-button>
        <h3 style="margin-left: 15px;margin-top: 15px">Context</h3>
        <dx-text-area style="margin-left:15px;margin-right:15px;"
                      [height]="380"
                      [maxLength]="maxLength"
                      [(value)]="solutionService.currentSolution.coach">
        </dx-text-area>

      </dxi-item>
      <dxi-item [ratio]="2">
        <h3 style="margin-left: 15px;margin-top: 15px">Coaching</h3>

        <dx-text-area style="margin-left:15px;margin-right:15px;"
                      [height]="380"
                      [maxLength]="maxLength"
                      [(value)]="solutionService.currentSolution.kb">
        </dx-text-area>


      </dxi-item>
    </dx-box>
  </dxi-item>
  <!--<dxi-item [ratio]="0.2">

  </dxi-item>-->
</dx-box>



